{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" "{% static 'img/drk10.png' %}" alt="..."/></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">게시판</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="columns is-mobile">
    <div class="column is-offset-one-fifth">
      <div class="field has-addons">
        <form>
          <div class="control">
            <input class="input is-large" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}"/>
          </div>
          <div class="control">
            <button type="submit" class="button is-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="column is-one-quarter">
    {% for user in users %}
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              {% if user.name %}
                <img src="{{ user.profile.image.url }}" alt="Placeholder image"/>
              {% else %}
                <img src="" alt="Placeholder image"/>
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ user.name }}</strong>
                <small>@{{ user.name }}</small>
              </p>
              <a href="{% url 'newconversation' user.name %}" class="button is-info">Send a message!</a>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>

{% endblock %}
