{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/mystyle2.css' %}"/>
{% endblock style %}
{% block contents %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/roulete.png' %}" alt="..."/>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/pay/roulette/">룰렛</a>
        </li>
        <li>
          <hr class="dropdown-divider"/>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/pay/tic">틱택토</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/pay/dutchpay/">더치페이 계산</a>
        </li>
      </ul>
    </div>
  </nav>

  <br/>
  <br/>
  <br/>
  <div class="main_content rap">
    <h2>돌려돌려돌림판</h2>
    <br><br>
    <label for="add_name">이름</label>
    <input type="text" name="add_name" id="add_name"/>
    <button class='btn btn-info' onclick="addSegment();">추가</button>
    <button class='btn btn-danger' onclick="deleteSegment();">삭제</button>

    <br>
    <p class='downarrow show_it'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🔽</p>
  </div>
  <canvas id="myCanvas" width="880" height="300">
    Canvas not supported, use another browser.
  </canvas>
  <div>
    <button class='btn btn-success ' onclick="theWheel.startAnimation(); ">돌려!</button>
  </div>
{% endblock contents %}
{% block script %}
  <script>
    $(".btn-info").on('click', () => {
      $(".downarrow").removeClass("show_it")
    })
    let theWheel = new Winwheel({
      canvasId: "myCanvas",
      textOrientation: "vertical",
      numSegments: 0,
      textFontSize: 14.5,
      rotationAngle: -30,
      pointerAngle: 0,
      segments: [
        {
          fillStyle: "#eae56f",
          text: "Segment 1"
        }, {
          fillStyle: "#89f26e",
          text: "Segment 2"
        }, {
          fillStyle: "#7de6ef",
          text: "Segment 3"
        }, {
          fillStyle: "#e7706f",
          text: "Segment 4"
        }
      ],

      // Note animation properties passed in constructor parameters.
      animation: {
        type: "spinToStop", // Type of animation.
        duration: 5, // How long the animation is to take in seconds.
        spins: 8, // The number of complete 360 degree rotations the wheel is to do.
        callbackFinished: "winAnimation()"
      }
    });

    function winAnimation() {
      // Get the number of the winning segment.
      let winningSegmentNumber = theWheel.getIndicatedSegmentNumber();

      // Loop and set fillStyle of all segments to gray.
      for (let x = 1; x < theWheel.segments.length; x++) {
        theWheel
          .segments[x]
          .fillStyle = "olive";
      }

      // Make the winning one yellow.
      theWheel
        .segments[winningSegmentNumber]
        .fillStyle = "red";

      // Call draw function to render changes.
      theWheel.draw();
    }

    function addSegment() {
      theWheel.addSegment({
        text: document
          .querySelector("#add_name")
          .value,
        fillStyle: "lightgray"
      }, 1);

      // The draw method of the wheel object must be called in order for the changes
      // to be rendered.
      theWheel.draw();
    }

    function deleteSegment() {
      // Call function to remove a segment from the wheel, by default the last one will be
      // removed; you can pass in the number of the segment to delete if desired.
      theWheel.deleteSegment();

      // The draw method of the wheel object must be called to render the changes.
      theWheel.draw();
    }
  </script>
{% endblock script %}
