{% extends 'base.html' %}
{% load board_filter %}
{% load static %}
{% block style %}
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock style %}
{% block contents %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block"><img src="{% static 'img/커뮤.png' %}" style="width: 150px; height: 150px" alt="..."/></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        {% for cat in category_list %}
          {% if cat == category %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  {% include 'navbar.html' %}
  <br>
  <br>
  <p class="h2 border-bottom pl-2 pb-3 my-2 text-center">{{ category.description }}</p>

  <div class="container my-3">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10 p-2">
      <!-- Content -->
      <div id="content">
        <div class="content_block">
          <div class="row justify-content-between my-3">
            <div class="col-2">
              <select name="" id="so" class="form-control so">
                <option value="recent"{% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="recommend"{% if so == 'recommend' %}selected{% endif %}>추천순</option>
                <option value="popular"{% if so == 'popular' %}selected{% endif %}>최다댓글순</option>
                <option value="viewed"{% if so == 'viewed' %}selected{% endif %}>조회수순</option>
              </select>
            </div>
            <div class="col-3">
              <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr class="text-center text-dark table-dark">
                <th style="width:10%" class="text-light">번호</th>
                <th style="width:40%" class="text-light">제목</th>
                <th class="text-light">조회수</th>
                <th class="text-light">추천수</th>
                <th class="text-light">글쓴이</th>
                <th class="text-light">작성일시</th>
              </tr>
            </thead>
            <tbody>
              {% if post_notice %}
                {% for post in post_notice %}
                  <tr class="text-center table-danger">
                    <td>
                      <strong>공지</strong>
                    </td>
                    <td class="text-start">
                      <a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a>
                      {% if post.comment_set.count > 0 %}
                        <span class="text-danger small mx-2">{{ post.comment_set.count }}</span>
                      {% endif %}
                    </td>
                    <td>{{ post.view_cnt }}</td>
                    <td>{{ post.voter.count }}</td>
                    <td>{{ post.author.name }}</td>
                    <td>{{ post.create_date }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              {% if post_list %}
                {% for post in post_list %}
                  <tr class="text-center">
                    <td>
                      <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                      {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}
                    </td>
                    <td class="text-start">
                      <a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a>
                      {% if post.comment_set.count > 0 %}
                        <span class="text-danger small mx-2">{{ post.comment_set.count }}</span>
                      {% endif %}
                    </td>
                    <td>{{ post.view_cnt }}</td>
                    <td>{{ post.voter.count }}</td>
                    <td>{{ post.author.name }}</td>
                    <td>{{ post.create_date }}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4">게시글이 없습니다. 새 게시글을 써보세요!</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          <!-- 페이징처리 시작 -->
          <div class="row">
            <div class="col-8 offset-2">
              <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                  <li class="page-item">
                    <a class="page-link" data-page="1" href="javascript:void(0)">처음</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음</a>
                  </li>
                {% endif %}
                <!-- 이전페이지 -->
                {% if post_list.has_previous %}
                  <li class="page-item" style="color:black;">
                    <a class="page-link" data-page="{{ post_list.previous_page_number }}" href="javascript:void(0)">이전</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                  </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in post_list.paginator.page_range %}
                  {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
                    {% if page_number == post_list.number %}
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if post_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" data-page="{{ post_list.next_page_number }}" href="javascript:void(0)">다음</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                  </li>
                {% endif %}
                {% if post_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" data-page="{{ post_list.paginator.num_pages }}" href="javascript:void(0)">끝</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">끝</a>
                  </li>
                {% endif %}
              </ul>
              <!-- 페이징처리 끝 -->
            </div>
            <div class="col-2 d-flex justify-content-end mb-2">
              <a href="{% if user.is_authenticated %}{% url 'board:create' category.name %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-lg btn-info">새글쓰기</a>
            </div>
          </div>
          <form id="searchForm" method="get" action="{% url 'board:index' %}">
            <input type="hidden" id="category" name="category" value="{{ category }}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="sort" name="so" value="{{ so|default_if_none:'' }}">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-2 p-2">
      <div>
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveaspectratio="xMidYMid slice" focusable="false" style="visibility:hidden;"></div>
        <div>
          <p class="h5 text-center mt-3">전체 게시글 랭킹</p>
          <table class="table">
            <thead class="text-center">
              <tr class="table-dark">
                <th style="width:30%; font-size:small;" class="text-light">순위</th>
                <th style="width:30%; font-size:small;" class="text-light">닉네임</th>
                <th style="width:40%; font-size:small;" class="text-light">게시글수</th>
              </tr>
            </thead>
            <tbody>
              {% rank_post 3 as posts %}
              {% for post in posts %}
                <tr class="text-center">
                  <td>
                    <strong>{{ forloop.counter }}</strong>
                  </td>
                  <td class="text-start">
                    {{ post.0 }}
                  </td>
                  <td>
                    {{ post.1 }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div>
          <a href="{% url 'pay:dutchpay' %}"><img src="{% static 'images/muje.png' %}" alt="temp" class="my-3"></a>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
{% block script %}
  <script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array
      .from(page_elements)
      .forEach(function (element) {
        element.addEventListener('click', function () {
          document
            .getElementById('page')
            .value = this.dataset.page;
          document
            .getElementById('searchForm')
            .submit();
        });
      });
    const searchForm = document.querySelector("#searchForm");
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
      document
        .getElementById('kw')
        .value = document
        .getElementById('search_kw')
        .value;
      document
        .getElementById('page')
        .value = 1; // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
      searchForm.submit();
    });
    document
      .querySelector("#so")
      .addEventListener("change", (e) => {
        document
          .querySelector("#sort")
          .value = e.target.value;

        searchForm.submit();
      })
  </script>
{% endblock %}
