<div
  class="category_sub_category_layer__ce73_ category_expand__2K-J5 category_expand_more__NpnD4"
>
  <div class="category_middle_category__2hhKp">
    <h4 class="blind">대분류</h4>
    <ul class="category_category_list__3u_RA">
      <li class="category_list__bmz__">
        <a href="">특식</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">찌개</a>
        >
      </li>
      <li class="category_list__bmz__">
        <a href="">덮밥/볶음밥</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">면</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">국/탕</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">간편식</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">기타</a>
      </li>
      <li class="category_list__bmz__">
        <a href="">해장</a>
      </li>
    </ul>
  </div>
  <div class="category_subclass__2TYLx">
    <h5 class="blind">중분류</h5>
    <ul class="category_category_list__3u_RA">
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg category_active__NOBMQ"
          href="https://search.shopping.naver.com/search/category/100007510"
          >책가방</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007511"
          >실내화가방</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007512"
          >실내화</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007430"
          >필통/필기류</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007445"
          >공책</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007454"
          >네임스티커</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007455"
          >미니빗자루세트</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007457"
          >물병</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007456"
          >휴대용티슈</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007460"
          >교육용악기</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007441"
          >영양제/유산균</a
        >
      </li>
    </ul>
  </div>
  <div class="category_subclass__2TYLx">
    <h5 class="blind">소분류</h5>
    <ul class="category_category_list__3u_RA">
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg category_active__NOBMQ"
          href="https://search.shopping.naver.com/search/category/100007510"
          >책가방</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007511"
          >실내화가방</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007512"
          >실내화</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007430"
          >필통/필기류</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007445"
          >공책</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007454"
          >네임스티커</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007455"
          >미니빗자루세트</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007457"
          >물병</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007456"
          >휴대용티슈</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007460"
          >교육용악기</a
        >
      </li>
      <li class="category_list__bmz__">
        <a
          class="N=a:ctg*l.third category_link__3ETBg"
          href="https://search.shopping.naver.com/search/category/100007441"
          >영양제/유산균</a
        >
      </li>
    </ul>
  </div>
</div>
