{% extends 'base.html' %}
{% load board_filter %}
{% block contents %}
<div class="container my-3">
    <div class="row my-3">
      <div class="col-sm-12 col-md-3 col-lg-2 p-2">
        <!-- Sidebar -->
        <nav id="sidebar" class="border-top border-secondary">
          <div class="list-group">
            {% for cat in category_list %}
              {% if cat == category %}
                <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
              {% else %}
                <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      </div>

      <div class="col-sm-12 col-md-9 col-lg-10 p-2">
        <!-- Content -->
        <div id="content" class="border-top border-secondary">
          <div class="content_block">
            <h5 class="border-bottom pl-2 pb-3 my-2">{{ category.description }}</h5>

            <div class="row justify-content-between my-3">
              <div class="col-6">
                <a href="{% if user.is_authenticated %}{% url 'board:create' category.name %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-primary">새글쓰기</a>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr class="text-center table-dark">
                  <th>번호</th>
                  <th style="width:60%">제목</th>
                  <th>추천수</th>
                  <th>글쓴이</th>
                  <th>작성일시</th>
                </tr>
              </thead>
              <tbody>
                {% if post_list %}
                  {% for post in post_list %}
                    <tr class="text-center">
                      <td>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}
                      </td>
                      <td class="text-start">
                        <a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a>
                        {% if post.comment_set.count > 0 %}
                          <span class="text-danger small mx-2">{{ post.comment_set.count }}</span>
                        {% endif %}
                      </td>
                      <td>{{ post.voter.count }}</td>
                      <td>{{ post.author.name }}</td>
                      <td>{{ post.create_date }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4">게시글이 없습니다. 새 게시글을 써보세요!</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
              {% if post_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" data-page="1" href="javascript:void(0)">처음</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음</a>
                </li>
              {% endif %}
              <!-- 이전페이지 -->
              {% if post_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" data-page="{{ post_list.previous_page_number }}" href="javascript:void(0)">이전</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
              {% endif %}
              <!-- 페이지리스트 -->
              {% for page_number in post_list.paginator.page_range %}
                {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
                  {% if page_number == post_list.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <!-- 다음페이지 -->
              {% if post_list.has_next %}
                <li class="page-item">
                  <a class="page-link" data-page="{{ post_list.next_page_number }}" href="javascript:void(0)">다음</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
              {% endif %}
              {% if post_list.has_next %}
                <li class="page-item">
                  <a class="page-link" data-page="{{ post_list.paginator.num_pages }}" href="javascript:void(0)">끝</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">끝</a>
                </li>
              {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
          </div>
          <form id="searchForm" method="get" action="{% url 'index' %}">
            <input type="hidden" id="category" name="category" value="{{ category }}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array
      .from(page_elements)
      .forEach(function (element) {
        element.addEventListener('click', function () {
          document
            .getElementById('page')
            .value = this.dataset.page;
          document
            .getElementById('searchForm')
            .submit();
        });
      });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
      document
        .getElementById('kw')
        .value = document
        .getElementById('search_kw')
        .value;
      document
        .getElementById('page')
        .value = 1; // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
      document
        .getElementById('searchForm')
        .submit();
    });
  </script>
{% endblock %}