{% extends 'base.html' %}
{% load humanize %}

{% block contents %}
  <h3>{{user}}'s Profile</h3>

  <h4>주문내역 (TODO)</h4>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>가게명</td>
        <td>주문상품</td>
        <td>총액</td>
        <td>주문일시</td>
      </tr>
    </thead>
    <tbody>
      {% for order in user.order_set.all %}
        <tr>
          <td>{{order.shop.name}}</td>
          <td>
            {% for item in order.item_set.all %}
              {{item.name}}
            {% endfor %}
          </td>
          <td>{{order.total|intcomma}}</td>
          <td>{{order.created_at}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock contents %}