{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
  <div class="container my-3">
    <table class="table">
      <thead>
        <tr class="text-center table-dark">
          <th>번호</th>
          <th style="width:60%">제목</th>
          <th>추천수</th>
          <th>글쓴이</th>
          <th>작성일시</th>
        </tr>
      </thead>
      <tbody>
        {% if post_list %}
          {% for post in post_list %}
            <tr class="text-center">
              <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}
              </td>
              <td class="text-start">
                <a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a>
                {% if post.comment_set.count > 0 %}
                  <span class="text-danger small mx-2">{{ post.comment_set.count }}</span>
                {% endif %}
              </td>
              <td>{{ post.voter.count }}</td>
              <td>{{ post.author.username }}</td>
              <td>{{ post.create_date }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4">게시글이 없습니다. 새 게시글을 써보세요!</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
      {% if post_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">처음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음</a>
        </li>
      {% endif %}
      <!-- 이전페이지 -->
      {% if post_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ post_list.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in post_list.paginator.page_range %}
        {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
          {% if page_number == post_list.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if post_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ post_list.next_page_number }}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
      {% if post_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ post_list.paginator.num_pages }}">끝</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">끝</a>
        </li>
      {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'board:create' %}" class="btn btn-primary">새글쓰기</a>
  </div>
{% endblock %}