{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <h1>details</h1>
  <section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
    <h1 class="text-white">리뷰게시판
    </h1>
    <h6 class="text-white-50">맛있었던 가게의 사진을 남겨보아요</h6>
  </section>
  <section class="section pt-5 pb-5 products-listing">
    <div class="container">
      <div class="row d-none-m">
        <div class="col-md-12">
          <div class="dropdown float-right">
            <a class="btn btn-outline-info dropdown-toggle btn-sm border-white-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by:
              <span class="text-theme">Distance</span>
              &nbsp;&nbsp;
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow-sm border-0 ">
              <a class="dropdown-item" href="#">Distance</a>
              <a class="dropdown-item" href="#">No Of Offers</a>
              <a class="dropdown-item" href="#">Rating</a>
            </div>
          </div>
          <h4 class="font-weight-bold mt-0 mb-3">OFFERS
            <small class="h6 mb-0 ml-2">299 restaurants
            </small>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="filters shadow-sm rounded bg-white mb-4">
            <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
              <h5 class="m-0">Filter By</h5>
            </div>
            <div class="filters-body">
              <div id="accordion">
                <div class="filters-card border-bottom p-4">
                  <div class="filters-card-header" id="headingOne">
                    <h6 class="mb-0">
                      <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Location
                        <i class="icofont-arrow-down float-right"></i>
                      </a>
                    </h6>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="filters-card-body card-shop-filters">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cb1">
                        <label class="custom-control-label" for="cb1">Ludhiana Junction
                          <small class="text-black-50">230</small>
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cb2">
                        <label class="custom-control-label" for="cb2">Model Town
                          <small class="text-black-50">95</small>
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cb3">
                        <label class="custom-control-label" for="cb3">Civil Lines
                          <small class="text-black-50">35</small>
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cb4">
                        <label class="custom-control-label" for="cb4">Dugri
                          <small class="text-black-50">46</small>
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cb5">
                        <label class="custom-control-label" for="cb5">PAU
                          <small class="text-black-50">20</small>
                        </label>
                      </div>
                      <div class="mt-2">
                        <a href="#" class="link">See all</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4"></div>
          <div class="row">
            <div class="col-md-4 col-sm-6 mb-4 pb-2">
              <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                <div class="list-card-image">

                  <div class="py-4 px-3 border-bottom">
                    {% for review in store.review_set.all %}
                      <tr class="text-center">
                        <td class="text-start">
                          <a href=""><img src="{{review.photo.url}}" class="" alt="" title="음식 사진 변경"></a>
                          <span class="text-danger small mx-2"></span>
                        </td>
                        <td>{{review.title}}</td>
                        <td>{{review.grade}}</td>
                        <td>{{review.content}}</td>
                        sss
                        <td>{{review.created_at}}</td>
                        <td>{{review.updated_at}}</td>
                      </tr>
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4 pb-2"></div>
        <div class="col-md-12 text-center load-more">
          <button class="btn btn-primary" type="button" disabled="disabled">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{% endblock contents %}