{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img alt="logo" src="{% static 'img/favicon.png' %}">
      <span>Where</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">뭐먹지?
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            뭐마시지?
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
            <a class="dropdown-item" href="">주변 술집</a>
            <a class="dropdown-item" href="detail.html">회식</a>
            <a class="dropdown-item" href="checkout.html">혼술</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            뭐하지?
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
            <a class="dropdown-item" href="">인도어</a>
            <a class="dropdown-item" href="detail.html">아웃도어</a>
            <a class="dropdown-item" href="checkout.html">여행</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            누가 내지?
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
            <a class="dropdown-item" href="track-order.html">돌려돌려 돌림판</a>
            <a class="dropdown-item" href="invoice.html">사다리 게임</a>
            <a class="dropdown-item" href="login.html">미니게임</a>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-cart">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-clipboard-list"></i>
            게시판
            <span class="badge badge-success">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
            <a class="dropdown-item" href="invoice.html">이집 추천</a>
            <a class="dropdown-item" href="login.html">음식사진 자랑하기</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Generic placeholder image" src="{% static 'img/user/4.png' %}" class="nav-osahan-pic rounded-pill">
            내 정보
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
            <a class="dropdown-item" href="orders.html#orders">
              <i class="icofont-food-cart"></i>
              내가 쓴글</a>
            <a class="dropdown-item" href="orders.html#offers">
              <i class="icofont-sale-discount"></i>
              할인중</a>
            <a class="dropdown-item" href="orders.html#favourites">
              <i class="icofont-heart"></i>
              찜한 맛집</a>
            <a class="dropdown-item" href="orders.html#payments">
              <i class="icofont-credit-card"></i>
              미리 결제</a>
            <a class="dropdown-item" href="orders.html#addresses">
              <i class="icofont-location-pin"></i>
              마이 페이지</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
